 .login-form {
    max-width: 50vh;
    margin-left: 38vw;
    margin-top: 5vh;
  }
.login-form-forgot {
    float: right;
  }
 .ant-col-rtl .login-form-forgot {
    float: left;
  }
 .login-form-button {
    width: 100%;
  }
  .login-head{
    margin-left: 38vw;
    margin-top: 15vh;
  }